<h3>Register</h3>
<% if flash[:errors] %>
<% flash[:errors].each do |e| %>
<p><%= e %></p>
<% end %>
<% end %>
<hr>

<%= form_for :user, url: "/users" do |x| %>
    First Name: <%= x.text_field :first_name %><br>
    Last Name: <%= x.text_field :last_name %><br>
    Email: <%= x.text_field :email %><br>
    Password: <%= x.password_field :password %><br>
    <p>Password must be at least 8 characters</p>
    Confirm (password): <%= x.password_field :password_confirmation %><br>
    <%= x.submit "Register" %>
<% end %>

<h3>Login</h3>
<%= form_for :user, url: "/login" do |y| %>
    Email: <%= y.text_field :email %><br>
    Password: <%= y.password_field :password %><br>
    <%= y.submit "Login" %>
<% end %>
