<h1>Hello...<%= User.find(session[:user_id]).first_name %> <%= User.find(session[:user_id]).last_name %></h1>
<%= link_to 'Log Out', logout_path %>
<% if flash[:errors] %>
<% flash[:errors].each do |e| %>
<p><%= e %></p>
<% end %>
<% end %>
<hr>

<h2>All the songs in our hub:</h2>

<table>
	<thead>
		<tr><th>|Artist...|</th>
            <th>|Title...|</th>
            <th>|Times Song Has Been Added...|</th>
            <th>|Add to Playlist...|</th></tr>
	</thead>
	<tbody>
	   <tr>
            <%@songs.each do |x| %>
            <td><%= x.artist %></td>
            <td><a href="/songs/<%= x.id %>"><%= x.title %></a></td>
            <td><%= x.listed %></td><td>
		    <form action='/add' method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="song_id" value="<%= x.id %>">
            <input type="submit" name="submit" value="Add_This_Song">
		</form></td></tr>
	<% end %>
	</tbody>
	</table>

    <hr>

	<h2>Add a song...</h2><h5>(minimum 2 characters required)</h5>
	<form action="/songs" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<p><label>Title:</label> <input type="text" name="song[title]"></p>
		<p><label>Artist:</label> <input type="text" name="song[artist]"></p>
		
		<input type="submit" name="submit" value="Add Song">
	</form> 
