<h2>Other people who added...<%= @song.title %>...to there playlist!</h2>
<a href="/songs">Dashboard</a> <a href="/logout">Logout</a>



<table>
	<thead>
		<tr><th>|Name........|</th>
            <th>|No. of times added....|</th>
        </tr>
	</thead>
    
    
	<tbody>
          <% if @users %> 
            <% @users.each do |x| %>
            <tr>
                <td><a href="/users/<%= x.id %>"><%= x.first_name %> <%= x.last_name %>...</a></td>      
                <td><%= x.playlists.where(song:@song.id).count %></td>
            <% end %>
            </tr>
          <% end %>
    
	
	
	</tbody>
</table> 
